 body {
    width: 1480px;
    height: 1282px;
} 

/* header */

.header {
    width: 1293px;
    height: 189px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 63px 99px 48px 98px;
    /* box-sizing: border-box; */
}

.ramda {
    display: flex;
    width: 334px;
    height: 79px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-bottom: 0px 949px 41px 0px; 
}

.header-ramda {
    text-decoration: none;
    color: black;
}

.name1 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
}

.name {
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400px;
}

.header-menu a {
    background-size: cover;
    text-decoration: none;
    font-family: Roboto;
    transition: .4s linear;
}

.header-nav {
    display: block;
    width: 1280px;
    height: 69px;
    margin: 40px 0px 0px 0px;
}

.header-ul {
    padding: 0;
    background-color: #35444F;
}

.header-li {
    display: inline-block;
}

.header-menu {
    padding: 1em;
    display: inline-block;
    color: white;
    border: 1px solid #35444F;
    font-size: 24px;
    font-family: Roboto;
    text-decoration: none;
    border-right: 1px solid white;
}

.header-menu:hover {
    color: white;
    background-color: #222F3A;
}

/* main */
main {
    display: flex;
}

ul {
    list-style: none;
    margin: 0 auto;
}

.main {
    width: 344PX;
    height: 399PX;
    box-sizing: border-box;
    list-style: none;
    margin: 49px 52px 130px 100px;
    padding: 0;
}

.menu-left {
    box-sizing: border-box;
    border: black;
    color: #35444F;
    font-size: 27px;
    font-family: Roboto;
    text-align: center;
}

.menu-left-a {
    text-decoration: none;
    background: white;
    display: flex;
    width: 344px;
    height: 81px;
    line-height: 81px;
    padding-left: 44px;
    color: #35444F;
    font-size: 27px;
    font-family: Roboto;
    text-align: center;
}

.menu-left-a:hover {
    color: #35444F;
    background-color: #DBDBDB;
}


.content-img {
    width: 320px;
    height: 381px;
    margin: 49px 99px 37px 52px;
    padding: 75px 268px 73px 297px;
    background: rgba(0, 0, 0, 0); 
    border: 1px black solid;
}

.content-img:hover {
    transform: scale(1.1);
    transition: transform 0.25s;
    overflow: hidden;
}

.text1 {
    box-sizing: border-box;
    color: #2C2C2C;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    margin: 37px 99px 13px 52px;
}

.text2 {
    color: #2C2C2C;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    margin: 14px 99px 54px 52px ;
}

/* footer */

.footer-nav {
    width: 1290px;
    height: 69px;
    flex-shrink: 0;
    background: rgba(99, 105, 110, 0.48);
    text-decoration: none;
    margin: 54px 100px 30px 100px;
}

.footer-ul {
    display: flex;
    align-items: center;
}

.footer-li {
    text-decoration: none;
    color: #0C1927;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
 
/* .footer-li:hover {
    background-color: #3181A6;
    color: #3181A6;
} */

.footer-li-a {
    text-decoration: none;
    color: black;
    padding: 20px 40px 21px 40px;
}

.footer-li-a-1 {
    text-decoration: none;
    color: #3181A6;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 20px 40px 21px 40px;
}

.footer-li-a-2 {
    text-decoration: none;
    color: #010101;
    display: flex;
    width: 190px;
    height: 69px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 0 40px 0 135px;
}

